* {
  padding: 0;
  margin: 0;
}
body,html {
    padding: 0;
    margin: 0;  
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}


nav {
  display: flex;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  align-content: center;
  background-color: #99de6e;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.navbar a {
  float: right;
  text-align: center;
  padding: 1em 2em;
}
.page-container {
  margin-top: 30px;
}
li { 
  display: inline;
  padding-right: 2em;
  text-decoration: none;
}
ul {
  justify-content: flex-end;
}
.logo{
  height: 3em;
  float: left;
}

.hamburger{
  height: 1em;
  float: right;
  display: none;
} 
 a{
  text-decoration: none;
  align-items:flex-end;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  /*background-image: url('./pictures/Thai_Asia_header.jpeg');  here from the html side
  https://codepen.io/mayursuthar/pen/gmGVJy check it out. */
}
  .picture-box{ 
  display: inline-block;
  margin-top: 1em;
   width: 100%;
  height: auto;
  position: relative;
}
.picture-box h1 {
  position: absolute;
  top: 3.5em;
  left: 5em;
  color: white;
  font-size: 90px;
}
.picture-box .address {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white;
  margin: 0;
}
.picture-box .opening-hrs {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  margin: 0;
}
                /* public face is the pictue in the picture-box */
.public-face {  
  width: 100%;
  height: auto;
}
.about-container{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
blockquote{
  padding: 1em;
}
#menu-container {
  text-align: center;
  padding-bottom: 2em;
  height: 25em;
  border-bottom: 2em;
  padding-left: 4em;
}
.menu-container {
  text-align: center;
  align-items: center;
}
.tab{
  overflow: hidden;
}
  /* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #99de6e;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  border: 5em;
  margin-bottom: 2em;
}

.tabcontent {
  width: 90%;
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 50em;
  overflow-y: scroll;
  margin-left: 5%;
}

.where-container{
  text-align: center;
  padding-bottom:4em 2em; 
}
iframe{
  padding: 1em;
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4em;
  text-align: center; 
}
@media only screen and (max-width: 670px)  {
  .navbar a{
    display: none
  }
  .hamburger{
    height: 1em;
    float: right;
    padding-right: 1em;
}