body,html {
    padding: 0;
    margin: 0;  
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-and-logo {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  background-color: #000;
}
nav {
  /*Thai Asia logo is here*/
  display: flex;
  /*background:#99de6e; */
 
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 50%;
  align-content: center;
  background-color: #99de6e;
  justify-content: space-between;
  
}

.page-container {
  margin-top: 30px;
}

li { 
  display: inline;
  padding-right: 2em;
  text-decoration: none;
}
ul {
justify-content: flex-end;
}

.logo{
  height: 3em;
}

 a{
  text-decoration: none;
  align-items:flex-end;
 }

.Header {
    display: flex;
    align-items: center;
    position: relative;
    padding: .5em 4em;
  }

  .picture-box{ 
    display: inline-block;
    margin-top: 2em;
    width: 100%;
    height: auto;
    border:1px solid #000;
    position: relative;

}
.picture-box h1 {
    position: absolute;
    top: 5em;
    text-align: center;
    left: 8.5em;
    color: white;
}
.picture-box .address {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
    margin: 0;
}
.picture-box .opening-hrs {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  margin: 0;
}
.public-face {
  width: 100%;
  height: auto;

}
  button {
    background-color: rgb(106, 106, 106);
    padding: 20px 30px;
    color: white;
    width: 200px; 
  }

  .about-container{
   text-align: center;
  }

  .menu-container {
    text-align: center;
    padding-bottom:32px;
    height:max-content;
  }

  .menu-card {
    height: 1000;
    width: 43.75em;
    background-color: aqua; 
  }
  .Finnish-menu {
    width: 20em;
    height: 50em;
    overflow-y: scroll;
  }
  .English-menu {
    width: 20em;
    height: 50em;
    overflow-y: scroll;
  }
  
  .where-container{
    text-align: center;
    padding-bottom:32px;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4em;
    text-align: center;
    
  }