body,html {
    padding: 0;
    margin: 0;  
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-and-logo {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

nav {
  display: flex;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  align-content: center;
  background-color: #99de6e;
  justify-content: space-between;
  
}

.page-container {
  margin-top: 30px;
}

li { 
  display: inline;
  padding-right: 2em;
  text-decoration: none;
}
ul {
justify-content: flex-end;
}

.logo{
  height: 3em;
}

 a{
  text-decoration: none;
  align-items:flex-end;
 }

.Header {
    display: flex;
    align-items: center;
    position: relative;
    padding: .5em 4em;
  }

  .picture-box{ 
    display: inline-block;
    margin-top: 2em;
    width: 100%;
    height: auto;
    border:1px solid #000;
    position: relative;

}
.picture-box h1 {
    position: absolute;
    top: 5em;
    text-align: center;
    color: white;
}
.picture-box .address {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
    margin: 0;
}
.picture-box .opening-hrs {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  margin: 0;
}
.public-face {
  width: 100%;
  height: auto;

}
  .about-container{
   text-align: center;
  }
#menu-container {
  text-align: center;
  padding-bottom: 2em;
  height: 25em;
  border-bottom: 2em;
  padding-left: 4em;
}
.menu-container {
  text-align: center;
  align-items: center;
}


  /*style the tab */
  .tab{
    overflow: hidden;
    border: 1px solid #ccc;
  }
  /* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #99de6e;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  border: 5em;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button :hover {
  background-color: rgb(209, 104, 104);
}
/* Style the tab content */
.tabcontent {
  float: center;
  text-align: center;
  width: 70%;
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 50em;
  overflow-y: scroll;
}

  .where-container{
    text-align: center;
    padding-bottom:32px;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4em;
    text-align: center;
    
  }